<div class="content-wrap">
<main id="content" class="content" role="main">
        <ol class="breadcrumb">
            <li>YOU ARE HERE</li>
            <li class="active">Bookmarks</li>
        </ol>

<div class="row">
<div class="col-lg-4">
</div>
 <div class="col-lg-4 text-center">

<%= render 'form' %>

<%#= link_to 'Show', @bookmark %> 
<%#= link_to 'Back', bookmarks_path %>

	</div>
	<div class="col-lg-4">
</div>
</div>




   </main>
</div>