<h1>Editing Recommended Feed</h1>

<%= render 'form', form_url: admin_recommended_feed_path(@recommended_feed), recommended_feed: @recommended_feed %>

<%#= link_to 'Show', @recommended_feed %> |
<%#= link_to 'Back', recommended_feeds_path %>
