<div class="container">
	<div class="row">
		<div class="col-lg-12">

<h1>New Recommended Feed</h1>

<%#= render 'form', recommended_feed: @recommended_feed %>
<%#= render 'form', recommended_feed: @recommended_feed %>
<%= render "form", form_url: admin_recommended_feeds_path, recommended_feed: @recommended_feed, submit_label: I18n.t("create") %>
<%#= link_to 'Back', recommended_feeds_path %>

		</div>
	</div>
</div>