<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">

    		<h1><%= I18n.t("admin.welcome") %></h1>
		
		</div>
	</div>	
	<div class="row">
		<div class="col-lg-4">
			
			<h4> <%= link_to "#{I18n.t("admin.categories")}", admin_categories_path %> </h4>

		</div>
		<div class="col-lg-4">
			
			<h4> <%= link_to "#{I18n.t("admin.recommended_feeds")}", admin_recommended_feeds_path %> </h4>

		</div>
		<div class="col-lg-4">

		</div>
	</div>
</div>