<%= form_for(@relationship) do |f| %>

<div> <%= f.hidden_field :user_id, :value => current_user.id %> </div>

<div> <%= f.collection_select(:newspaper_id, @newspapers, :id, :title, {:prompt => 'Listas Periodicos'}) %> </div>

<div class="form-actions">

<%= f.submit 'Agrega', :class => "btn btn-primary"%>

</div>
<% end %>

