
<div class="content-wrap">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
      <div class="row">
		    <div class="col-md-8 col-md-offset-2">
           <style>
            body{
                overflow-x: visible;
            }
        </style>
        <ol class="breadcrumb">
            <li>Tu eres aqui</li>
            <li class="active">Crear Nuevo Feed </li>
        </ol>
        <!-- <h2>Edit <%#= resource_name.to_s.humanize %></h2> -->

                <section class="widget">
                    <header>
                        <h4>
                            <p id="notice"><%= notice %></p>
                           
                        </h4>
                    </header>
<div class="widget-body">

    		   

				<%= render 'modulo2' %>


</div> <!-- close widget-body -->
</section> <!-- close section -->
		  </div>
	   </div>
    </div>
  </main>
</div>
