<div class="container">
<div class="row">
	<div class="col-lg-12">
	
    <ol class="breadcrumb">
        <li> <%= I18n.t("feedlist.you_are_here") %> </li>
        <li class="active"><%= I18n.t("feedlist.all_my_news") %></li>
    </ol>

    <div id="feedlists">

      <%= render @feedlists %>

    </div>

    </div>
</div>



 <div class="row">
   <div class="col-lg-12 text-center">
   <%= paginate @feedlists %> 
   </div>
</div>
</div>