<%#= link_to 'Visiona Más', feedlists_path(feedlist), :class => "btn btn-primary btn-info btn-sm" %> <br />
<%= link_to I18n.t("feedlist.source"), feedlist.url, :class => "btn btn-primary btn-info btn-sm", target: "_blank" %><br />
<h6> <%= I18n.t("feedlist.visited") %>: 0 </h6>