
                                <% if feedlist.image.nil? %>

                                    <a href="#"> <%#= image_tag('no-imagen.png') %> </a>
                                    
                                    <% else %>
                                    
                                    <a href="#"> <img src="<%= feedlist.image %>" width="70" height="50"> </a>
                                    
                                <% end %> 
                                <br /><br />
                                
                                <p class="info">
                                        <% if feedlist.published_at.nil? %>

                                        <%= time_ago_in_words(feedlist.created_at) %>
                                        
                                        <% else %>

                                        <%= time_ago_in_words(feedlist.published_at) %>

                                        <% end %>
                                </p>
                                <!-- <button type="button" class="btn btn-danger btn-sm">not read</button> --> 
                                <%= link_to "not read", "#", class: "btn btn-danger btn-sm" %>