<div id="main-content">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12 text-center">
	<div id="mainWrap">
	<div id="loggit">
			<h1><i class="fa fa-lock"></i> Loggit</h1>
<h3>Please <strong>Login</strong> or <strong>Register</strong></h3>

<form action="#" id="logForm" method="post" class="form-horizontal">
	<div class="form-group">
		<div class="col-xs-12">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				<input id="color" type="text" class="form-control input-lg" placeholder="Email" autocomplete="off">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-xs-12">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
				<input id="color" type="password" class="form-control input-lg" placeholder="Password" autocomplete="off">
			</div>
		</div>
	</div>
	<div class="form-group formSubmit">
		<div class="col-sm-7">
			<div class="checkbox">
				<label>
					<input type="checkbox" checked autocomplete="off"> Keep me logged in
				</label>
			</div>
		</div>
		<div class="col-sm-5 submitWrap">
			<button type="submit" class="btn btn-primary btn-lg">Log In</button>
		</div>
	</div>
	<div class="form-group formNotice">
		<div class="col-xs-12">
			<p class="text-center">Don't have an account? <span>Register now</span></p>
		</div>
	</div>
</form>
<form action="#" id="regForm" method="post" class="form-horizontal">
					<div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
								<input type="text" class="form-control input-lg" placeholder="Username" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
								<input type="text" class="form-control input-lg" placeholder="Email" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
								<input type="password" class="form-control input-lg" placeholder="Password" autocomplete="off">
							</div>
						</div>
					</div>
					<div class="form-group formSubmit">
						<div class="col-sm-7">
							<div class="checkbox">
								<label>
									<input type="checkbox" autocomplete="off"> I agree to the Terms &amp; Conditions
								</label>
							</div>
						</div>
						<div class="col-sm-5 submitWrap">
							<button type="submit" class="btn btn-success btn-lg">Register</button>
						</div>
					</div>
					<div class="form-group formNotice">
						<div class="col-xs-12">
							<p class="hasAccount text-center">Already have an account? <span>Log in here</span></p>
						</div>
					</div>
				</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div> <!-- end .main-content -->