<%# following line set @user = current_user whenr @user is nil %>


        <a href="<%= following_user_path(@user) %>">

            <%= @user.following.count %> Siguendo </a>

        <a href="<%= followers_user_path(@user) %>">

            <%= @user.followers.count %> Seguidores </a>
