<% if user_signed_in? %>
<div class="container">
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content" role="main">
        <!-- jquery ui sortable chrome overflow-x fix. when set to hidden does not behaves as expected. resetting back
             just for this page.
             http://bugs.jqueryui.com/ticket/9588 -->
        <style>
            body{
                overflow-x: visible;
            }
        /* codice per la responsivita del video youtube */
            .videoWrapper {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                padding-top: 25px;
                height: 0;
            }
                
            .videoWrapper iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        
            

        </style>
        <ol class="breadcrumb">
            <li>Tu eres aqui</li>
            <li class="active">Panel Inicial</li>
            <li>
                <% @users.each do |user| %>
                    <% if user.username == current_user.username %>
                        <%= user.username %>
                    <% end %>
                <% end %>

            </li>

        </ol>
        <div class="row">
            <div class="col-lg-12 text-center">

                <%= render 'shared/home' %>
                
                <%= paginate @last_feeds_paginate %>
                

            </div>
        </div> 
     </div>   
     
    </main>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>


<% else %>

<%= render 'layouts/home_landing' %>

<%#= render 'layouts/navigation_landing_page' %>
<%#= render 'shared/navigation_left' %>
<%#= render 'shared/landing_page' %>

<% end %>


