/**
 * application-front-end.css
 *
 *= require 'landing-page/responsive.css'
 *= require 'landing-page/style.css'
 *= require 'bootstrap.min.css'
 *= require_self
*/


@font-face {
  font-family: 'FontAwesome';
  src: font-url('/fonts/fontawesome-webfont.eot?v=4.1.0');
  src: font-url('/assetsfonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), font-url('/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), font-url('/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), font-url('/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}
