 <h5 class="sidebar-nav-title">Crea Pagina<%= link_to '<i class="glyphicon glyphicon-plus"></i>'.html_safe, new_page_path, :class => "action-link" %></h5>
        <ul class="sidebar-labels">
        <% @pages.each do |pagina| %>
        <% if url_for == page_path(pagina.url) %>
            <li class="active">
            <% else %>
            <li>
            <% end %> 
        <%= link_to pagina.title.titleize, page_path(pagina.url) %>
        </li>
        
        <% end %>

        </ul>