<div id="main-content">
<footer>
<div class="container-fluid">
			<div class="text-center">
		<%= I18n.t("footer.slogan") %> <%= Time.now.year %> <br />
<%= I18n.t("footer.project") %> <%= link_to I18n.t("footer.download"), 'https://github.com/kepasa-project/kepasa-feeds-aggregator', :class => "link" %>
        	</div>
		</div>
</footer>
</div>