<div id="main-content">
<footer>
<div class="container-fluid">
			<div class="text-center">
		Kepasa.co&#169;, las ultimas noticias en linea <%= Time.now.year %> <br />
desarrollado por <%= link_to 'Astr0surf3r', 'http://www.twitter.com/astr0surf3r', :class => "link" %>
    	<script src="/assets/feed_entry.js" type="text/javascript"></script>
        	</div>
		</div>
</footer>
</div>