  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    	<% if I18n.locale == I18n.default_locale %>
          <span>English</span>
        <% else %>
          <span>Español</span>
        <% end %> 
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li role="separator" class="divider"></li>
      <li>
        <% if I18n.locale == I18n.default_locale %>
          <%= link_to "Español", { :locale=>'es' } %>
        <% elsif %>
          <%= link_to "English", { :locale=>'en' } %>
        <% elsif %>
          <%= link_to "Italiano", { :locale=>'it' } %>
        <% else %>
          <%= link_to "Tagalog", { :locale=>'tl' } %>
        <% end %>    
      </li>
      <li role="separator" class="divider">

      </li>
      
    </ul>
  </li>