<nav class="page-controls navbar navbar-default">
    <div class="container-fluid">
        <!-- .navbar-header contains links seen on xs & sm screens -->
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>
                    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
                    <a class="hidden-sm hidden-xs" id="nav-state-toggle" href="#" title="Turn on/off sidebar collapsing" data-placement="bottom">
                        <i class="fa fa-bars fa-lg"></i>
                    </a>
                    <!-- shown on xs & sm screen. collapses and expands navigation -->
                    <a class="visible-sm visible-xs" id="nav-collapse-toggle" href="#" title="Show/hide sidebar" data-placement="bottom">
                        <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
                        <i class="fa fa-bars fa-lg hidden-xs"></i>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right visible-xs">
                <li>
                    <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, main_app.destroy_user_session_path, method: :delete, data: { confirm: "Quieres de verdad salir?" } %>
                </li>
                    </ul>
                </li>
            </ul>
            <!-- xs & sm screen logo -->
            <a class="navbar-brand visible-xs" href="<%=main_app.root_path%>">
                <i class="fa fa-circle text-gray mr-n-sm"></i>
                <i class="fa fa-circle text-success"></i>
                &nbsp;
                KEPASA.co
                &nbsp;
                <i class="fa fa-circle text-success mr-n-sm"></i>
                <i class="fa fa-circle text-gray"></i>
            </a>
        </div>

        <!-- this part is hidden for xs screens -->
        <div class="collapse navbar-collapse">
            <!-- search form! link it to your search server -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div class="input-group input-group-no-border">
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                        <input class="form-control" type="text" placeholder="Busca las ultimas noticias">
                    </div>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                 <a href="#">  Hola <%= current_user.username %>! </a>
                </li>
                <li>
                    <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, main_app.destroy_user_session_path, method: :delete, data: { confirm: "Quieres de verdad salir?" } %></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>